:root>* {

    --md-footer-bg-color:  rgb(32, 32, 32);
    --md-footer-fg-color: rgb(255, 255, 255);
    --md-footer-bg-color--dark: rgb(32, 32, 32);
    --md-footer-fg-color--lighter:  rgb(255, 255, 255);
    --md-footer-fg-color--light:  rgb(255, 255, 255);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: rgb(12, 130, 240);

}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

.image-full-width {
  width: 100%;
  height: auto;
  display: block;
}

.image-upscale-ctr {
  width: 120%; 
  margin: 0 auto; 
  display: block;
}

.image-20-size-ctr {
  width: 20%; 
  margin: 0 auto; 
  display: block;

}.image-half-size-ctr {
  width: 50%; 
  margin: 0 auto; 
  display: block;
}

.image-half-size-left {
  width: 50%;        /* Set the width of the image to 50% of its container */
  float: left;       /* Float the image to the left */
  margin-right: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}

.image-half-size-right {
  width: 50%;        /* Set the width of the image to 50% of its container */
  float: right;      /* Float the image to the right */
  margin-left: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}

.image-45-size-left {
  width: 45%;        /* Set the width of the image to 50% of its container */
  float: left;       /* Float the image to the left */
  margin-right: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}

.image-20-size-left {
  width: 20%;        /* Set the width of the image to 50% of its container */
  float: left;       /* Float the image to the left */
  margin-right: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}

.image-45-size-right {
  width: 45%;        /* Set the width of the image to 50% of its container */
  float: right;      /* Float the image to the right */
  margin-left: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}


.image-75-size-left {
  width: 75%;        /* Set the width of the image to 50% of its container */
  float: left;       /* Float the image to the left */
  margin-right: 15px; /* Add some space between the image and the text */
  margin-bottom: 10px; /* Optionally add space below the image */
}
